{% if module.display %}
  <div class="card module featured-package">
    <a href="javascript:void(0);" data-remote="/package/{{ module.package.id }}" class="toggle-modal fp-image" title="{{ __("Click for more details") }}">
      {% if module.package.image.url %}<img src="{{ module.package.image.url }}" alt="">{% else %}<i class="mdi mdi-cube-outline"></i>{% endif %}
    </a>
    <div class="fp-info">
      <div class="fp-name">{{ module.package.name[:20] }}</div>
      <div class="fp-price">
        {% if module.package.customPrice == false and module.package.price > 0 %}
          {% if module.package.discount.applied %}<span class="discount">{{ module.package.discount.original|money }} {{ module.package.currency }}</span>{% endif %}
          {{ module.package.price|money }} <small>{{ module.package.currency }}</small>
        {% endif %}
      </div>
      {% if module.package.basket %}
        <a href="/checkout/packages/remove/{{ module.package.id }}" class="btn btn-sm btn-danger">{{ __("Remove") }}</a>
      {% else %}
        <a href="javascript:void(0);" data-remote="/package/{{ module.package.id }}" class="btn btn-sm btn-info toggle-modal">{{ __("Buy") }}</a>
      {% endif %}
    </div>
  </div>
{% endif %}
