{% extends "layout.html" %}

{% block content %}
	<div class="body">
    <div class="col-md-3">
<nav class="navbar navbar-default" role="navigation">
    {% if nav_title %}<div class="ipl-navigation-menu">{% if nav_icon %}<i class="{{ nav_icon }}"></i>{% endif %}{{ nav_title }}</div>{% endif %}
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ store.name }}</a>
          </div>

          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{% if page.category == "index" %}active{% endif %}"><a href="/">{{ __("Home") }}</a></li>
                {% for category in store.categories %}
                  {% if category.subcategories|length > 0 %}
                    <li class="{% if category.active %}active{% endif %}">
                      <a href="/category/{{ category.id }}">{{ category.name }} <i class="fa fa-caret-right">
                      </i></a>
                  {% else %}
                    <li class="{% if category.active %}active{% endif %}"><a href="/category/{{ category.id }}">{{ category.name }}</a></li>
                  {% endif %}
                {% endfor %}
                {% for page in store.pages %}
                    <li class="{% if page.active %}active{% endif %}">
                        <a href="/{{ page.slug }}">{{ page.title }}</a></li>
                {% endfor %}                
                {% if basket.packages|length > 0 %} 
                    <li class="visible-xs {% if page.category == "checkout" %}active{% endif %}"><a href="/checkout/basket">{{ __("Checkout") }}</a></li>
                {% endif %}
                {% if basket.username %} 
                    <li class="visible-xs"><a href="/checkout/logout">{{ __("Logout") }}</a></li>
                {% endif %}
            </ul>
          </div>
        </div>
      </nav>
		    {{ modules| raw }}
		</div>
    </div>
		<div class="col-md-9">
		    <div class="ipl-box">
        <i class="mdi mdi-store"></i>
        <div class="ipl-box-text">
            <span>{{ a_title }}</span>
            <p>{{ a_text }}</p>
        </div>
        <div class="ipl-box-cart" class="basket-button dropdown-toggle" data-toggle="dropdown">
            <div class="ipl-cart-content">
                {% if basket.username %} 
                  <div class="ipl-cart-info">
                    <span>{{ basket.ign }}'s Cart</span>
                    <div class="ipl-basket">
                      <span>
                       TOTAL:
                      </span>
                      <span>
                          {% if basket.packages|length > 0 %}
                          {{ basket.price|money }} {{ basket.currency }}
                          {% else %} 
                          0 {{ basket.currency }}
                          {% endif %}
                      </span>
                    </div>
                </div>
                <div class="ipl-cart-icon">
                       {% if basket.packages|length > 0 %}
                       <span id="ipl-num">
                       {{ _p(":count", basket.packages|length, {'count' : basket.packages|length }) }}</span>
                      {% endif %}
                      
                    <i class="mdi mdi-shield-account"></i></div> 
                {% else %} 
                <div class="ipl-cart-info no-log">
                    <span><b>Welcome</b></span>
                    <span>Not Logged in</span>
                </div>
                <div class="ipl-cart-icon"><i class="mdi mdi-shield-off"></i></div>    
                {% endif %}
            </div>
        </div>
        <div class="dropdown-menu dropdown-menu-right" role="menu">
        <div class="dropdown-top-bar">
            <div class="currency-top">
                <span>Currency: {{ basket.currency }}</span>
            </div>
            <div class="dropdown-logout">
                {% if basket.username %} 
                <a href="/checkout/logout" class="login-button out">{{ __("Logout") }}</a>
                {% else %}
                <a href="/login" class="login-button">{{ __("Login") }}</a>
                {% endif %}
            </div>
        </div>
             <ul>
                        {% for package in basket.packages %}
                            <li class="item">
                            <div class="name">{{ package.name[:25] }}</div>
                            <div class="price">{{ package.price|money }} <small>{{ basket.currency }}</small></div>
                            <div class="remove"><a href="/checkout/packages/remove/{{ package.id }}"><span class="fa fa-times"</span></a></div>
                            </li>
                        {% endfor %}
                        <li class="checkout">
                          <div class="total"><b>{{ __("Total") }}:</b> {{ basket.price|money }} <small>{{ basket.currency }}</small></div>
                          <div class="button"><a href="/checkout/basket" class="btn btn-success">{{ __("Checkout") }}</a></div>
                        </li>
                    </ul>
                    </div>
    </div>
			<div class="panel panel-default">
				<div class="panel-heading">{{ options.package.name }}</div>
				<div class="panel-body">
				    <div class="variables">
    					<form method="post">
    
    						{% if options.package.chooseServer %}
    						    <div class="form-group">
                                    <select class="form-control input-lg" name="server">
                                        <option value="">{{ __("Please choose which server to receive this package upon") }}</option>
                                        {% for server in options.servers %}
    										<option value="{{ server.id }}">{{ server.name }}</option>
    									{% endfor %}
                                    </select>   
                                </div>
    						{% endif %}
    
    						{% if options.package.customPrice %}
    							<div class="form-group">
                                    <div class="input-group">
                                      <input type="text" name="price" class="form-control input-lg" placeholder="{{ __("Please enter an amount greater than " ~ options.package.price ~ " " ~ store.currency ~ " that you'd like to pay.") }}">
                                      <span class="input-group-addon"><small>{{ store.currency }}</small></span>
                                    </div>
                                </div>
    						{% endif %}
    
    						{% for variable in options.variables %}
								{% if variable.type == "dropdown" %}
								     <div class="form-group">
                                        <select name="variables[{{ variable.id }}]" class="form-control input-lg">
                                            <option value="">{{ variable.description }}</option>
    										{% for option in variable.options %}
    											<option value="{{ option.id }}">
    												{{ option.name }}
    												{% if option.price > 0 %}
    													(+{{ option.price|money }} {{ basket.currency }})
    												{% endif %}
    											</option>
    										{% endfor %}
                                        </select>   
                                     </div> 
                                 {% elseif variable.id == "discord_id" %}
                                    <p>{{ variable.description }}</p>
                                    
                                    <div class="form-group">
                                      <input type="text" class="form-control input-lg" readonly value="{{ variable.value ? "Logged in as " ~ variable.discord_tag : "Not logged in" }}">
                                      <span class="input-group-append">
                                          <a href="https://ident.tebex.io/discord/?return={{ url() }}" id="login-with-discord" class="btn btn-info" style="display: none;">Login with Discord</a>
                                          <a href="https://ident.tebex.io/discord/?return={{ url() }}" id="login-with-discord" class="btn btn-info">Login with Discord</a>
                                      </span>
                                    </div>
                                    
                                    <input type="hidden" name="variables[{{ variable.id }}]" value="{{ variable.value }}" />
                                    <br />
                                {% else %}
								    <div class="form-group">
                                          <input type="text" name="variables[{{ variable.id }}]" class="form-control input-lg" placeholder="{{ variable.description }}" />
                                    </div>
								{% endif %}
    						{% endfor %}
        
                            <div class="buttons">
                                <div class="back">
                                  <a href="/category/{{ options.package.category }}" class="btn btn-block btn-danger">{{ __("Back") }}</a>
                                </div>
                                <div class="continue">
                                  <input type="submit" value="{{ __("Continue") }}" name="submit" class="btn btn-block btn-success" />
                                </div>
                            </div>

    					</form>
    				</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}