{% extends "layout.html" %}

{% block content %}
        <div class="body row row-fluid">
<div class="col-md-3">
<nav class="navbar navbar-default" role="navigation">
    {% if nav_title %}<div class="ipl-navigation-menu">{% if nav_icon %}<i class="{{ nav_icon }}"></i>{% endif %}{{ nav_title }}</div>{% endif %}
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ store.name }}</a>
          </div>

          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{% if page.category == "index" %}active{% endif %}"><a href="/">{{ __("Home") }}</a></li>
                {% for category in store.categories %}
                  {% if category.subcategories|length > 0 %}
                    <li class="{% if category.active %}active{% endif %}">
                      <a href="/category/{{ category.id }}">{{ category.name }} <i class="fa fa-caret-right">
                      </i></a>
                  {% else %}
                    <li class="{% if category.active %}active{% endif %}"><a href="/category/{{ category.id }}">{{ category.name }}</a></li>
                  {% endif %}
                {% endfor %}
                {% for page in store.pages %}
                    <li class="{% if page.active %}active{% endif %}">
                        <a href="/{{ page.slug }}">{{ page.title }}</a></li>
                {% endfor %}                
                {% if basket.packages|length > 0 %} 
                    <li class="visible-xs {% if page.category == "checkout" %}active{% endif %}"><a href="/checkout/basket">{{ __("Checkout") }}</a></li>
                {% endif %}
                {% if basket.username %} 
                    <li class="visible-xs"><a href="/checkout/logout">{{ __("Logout") }}</a></li>
                {% endif %}
            </ul>
          </div>
        </div>
      </nav>
		    {{ modules| raw }}
		</div>            
                <div class="col-md-9"><div class="ipl-box">
        <i class="mdi mdi-store"></i>
        <div class="ipl-box-text">
            <span>{{ a_title }}</span>
            <p>{{ a_text }}</p>
        </div>
        <div class="ipl-box-cart" class="basket-button dropdown-toggle" data-toggle="dropdown">
            <div class="ipl-cart-content">
                {% if basket.username %} 
                  <div class="ipl-cart-info">
                    <span>{{ basket.ign }}'s Cart</span>
                    <div class="ipl-basket">
                      <span>
                       TOTAL:
                      </span>
                      <span>
                          {% if basket.packages|length > 0 %}
                          {{ basket.price|money }} {{ basket.currency }}
                          {% else %} 
                          0 {{ basket.currency }}
                          {% endif %}
                      </span>
                    </div>
                </div>
                <div class="ipl-cart-icon">
                       {% if basket.packages|length > 0 %}
                       <span id="ipl-num">
                       {{ _p(":count", basket.packages|length, {'count' : basket.packages|length }) }}</span>
                      {% endif %}
                      
                    <i class="mdi mdi-shield-account"></i></div> 
                {% else %} 
                <div class="ipl-cart-info no-log">
                    <span><b>Welcome</b></span>
                    <span>Not Logged in</span>
                </div>
                <div class="ipl-cart-icon"><i class="mdi mdi-shield-off"></i></div>    
                {% endif %}
            </div>
        </div>
        <div class="dropdown-menu dropdown-menu-right" role="menu">
        <div class="dropdown-top-bar">
            <div class="currency-top">
                <span>Currency: {{ basket.currency }}</span>
            </div>
            <div class="dropdown-logout">
                {% if basket.username %} 
                <a href="/checkout/logout" class="login-button out">{{ __("Logout") }}</a>
                {% else %}
                <a href="/login" class="login-button">{{ __("Login") }}</a>
                {% endif %}
            </div>
        </div>
             <ul>
                        {% for package in basket.packages %}
                            <li class="item">
                            <div class="name">{{ package.name[:25] }}</div>
                            <div class="price">{{ package.price|money }} <small>{{ basket.currency }}</small></div>
                            <div class="remove"><a href="/checkout/packages/remove/{{ package.id }}"><span class="fa fa-times"</span></a></div>
                            </li>
                        {% endfor %}
                        <li class="checkout">
                          <div class="total"><b>{{ __("Total") }}:</b> {{ basket.price|money }} <small>{{ basket.currency }}</small></div>
                          <div class="button"><a href="/checkout/basket" class="btn btn-success">{{ __("Checkout") }}</a></div>
                        </li>
                    </ul>
                    </div>
    </div>
                        <div class="panel panel-default box-container">
                                <div class="panel-heading header">{{ __("Order Status") }}</div>
                                <div class="panel-body content">
                                        <p>
                                                {{ __("To look up a payment, you must provide your Minecraft username, and one of: transaction ID, email address or the value of the purchase:") }}
                                        </p>
					<form action='?' method='post'>
						<table class="table table-responsive">
							<tr class="form-group">
								<td><label>{{ __("Username") }}</label></td>
								<td><input type="text" class="form-control" name="ign" value="{{ params.ign }}" /></td>
							</tr>
							<tr class="form-group">
								<td><label>{{ __("Transaction ID") }}</label></td>
								<td><input type="text" class="form-control" name="txn" value="{{ params.txn }}" /></td>
							</tr>
							<tr class="form-group">
								<td><label>{{ __("Email Address") }}</label></td>
								<td><input type="text" class="form-control" name="email" value="{{ params.email }}" /></td>
							</tr>
							<tr class="form-group">
								<td><label>{{ __("Purchase Value") }}</label></td>
								<td><input type="text" class="form-control" name="amount" value="{{ params.amount }}" /></td>
							</tr>
						</table>
						<button type="submit" class="btn btn-success">{{ __("Search Payments") }}</button>
					</form>

					<hr />
					{% if params %}
						{% if payments|length > 0 %}
						    <p>{{ _p("There is :payment_count matching payment",  payments|length, {"payment_count": payments|length}) }}</p>
							{% for payment in payments %}
				                                <table class="table table-hover table-striped well border">
				                                    <thead>
                                				        <tr>
				                                            <td class="name" colspan="2"><strong>{{ payment.order_date|date("Y-m-d") }} - {{ payment.payment_status }}</strong></td>
                                				        </tr>
				                                    </thead>
							        <tbody>
                                				        <tr>
				                                            <td>{{ __("Order Price:") }}</td>
				                                            <td>{{ payment.currency }}{{ payment.price|number_format(2, ".", ",") }}</td>
				                                        </tr>
				                                        <tr>
				                                            <td>{{ __("Commands Executed:") }}</td>
				                                            <td>{{ payment.commands_executed }}</td>
				                                        </tr>                               
				                                        <tr>
				                                            <td>{{ __("Commands Due:") }}</td>
				                                            <td>{{ payment.commands_due }}</td>
				                                        </tr>                                                                           
				                                        <tr>
				                                            <td>{{ __("Commands Scheduled:") }}</td>
				                                            <td>{{ payment.commands_scheduled }}</td>
				                                        </tr>                                            
				                                    </tbody>
							        </table>							
							{% endfor %}
						{% else %}
							<p>{{ __("There are no payments matching these details") }}</p>
						{% endif %}
					{% endif %}
                                </div>
                        </div>
                </div>
        </div>
{% endblock %}

